@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;600;700&family=Lexend+Deca:wght@100;200;300;500;600;700;800&family=Montserrat:wght@100;200;400;600;800&family=Outfit:wght@100;200;400;500;700;800&family=Poiret+One&family=Questrial&family=Quicksand:wght@300;500;700&family=Raleway:wght@200;300;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');body {
    font-family: 'Quicksand',sans-serif;
    background: #f1f1f1;
    color: #000;
}

h2,h3,h4,h5,h6 {
    position: relative
}

.spl_txt_1 {
    font-family: 'Josefin Sans',sans-serif
}

.spl_txt_2 {
    font-family: 'Montserrat',sans-serif;
    line-height: 32px
}

.no-focus:focus {
    outline: 0;
    box-shadow: none
}

.doc_appt_sep {
    border: .5px solid #999;
    height: 100%;
    left: -44px;
    margin: 8px 0
}

#connect_doc_days>span,#connect_doc_day_slots span {
    display: inline-block;
    margin: 10px;
    background: #f1f1f1;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer
}

h2:after,h6:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -6px;
    margin: 0 auto;
    left: 0;
    width: 100px;
    background: #E81213
}

.bg-dark h2:after {
    background: #fff
}

.donate-hom-btn {
    padding: 21px 20px!important;
}

.text-muted {
    color: #8C8C8C!important;
}

h2.no_line:after,h6.no_line:after {
    position: absolute;
    content: '';
    height: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    width: 0;
    background: transparent
}

.footer-bottom {
    background: #202529
}

.text-danger {
    color: #E81213 !important
}

.bg-danger,.btn-danger {
    background-color: #E81213 !important
}

.mob_icon {
    width: 15px
}

.book-btn {
    bottom: -50px;
    right: 20px
}

.arrow-top {
    margin-top: 40px
}

.bg-dark {
    background: #636467 !important
}

.arrow-top:after {
    content: " ";
    position: absolute;
    right: 50%;
    top: -10px;
    margin-right: -10px;
    border-top: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid white
}

a.nav-link {
    position: relative;
    overflow: hidden
}

a.nav-link:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background: #ffb4b4;
    left: 0;
    bottom: 0;
    transition: all .3s;
    opacity: .3
}

a.nav-link:hover:before,a.nav-link.show:before {
    width: 100%
}

.offcanvas-body a.nav-link {
    margin: 1px 0
}

.hover_move_left .move_div>span {
    width: 80%
}

.hover_move_up a,.zoom-img img.zoom,.zoom-img .border,.zoom-img img.est_icon {
    transition: all .5s
}

.hover_move_up a:hover {
    transform: translate(0,-8px);
    box-shadow: rgba(0,0,0,0.45) 0 25px 20px -20px
}

.hover_move_left .move_div,.soc_med .icon {
    transition: .3s;
    width: 100%
}

.hover_move_left a:hover .move_div {
    transform: translate(15px,0)
}

.hover_move_up .soc_med .icon:hover {
    transform: translate(0,-5px)
}

.anchor_blck {
    color: #212529;
    transition: all .2s
}

.anchor_blck:hover h4 {
    color: #ff002a
}

.anchor_blck p,.anchor_blck ul {
    margin-bottom: 0
}

.zoom-img:hover .read-more {
    background: #E81213 !important;
    transition: all .4s;
    color: #fff !important
}

.zoom-img:hover .read-more:after {
    border-bottom: 10px solid #E81213;
    transition: all .4s
}

.read-more-btn2 {
    border-radius: 15px 0 0;
    background: #E81213
}

.read-more-btn2:before,.read-more-btn2:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: -19px;
    bottom: -1px;
    background: url(../images/corner-curve.png) no-repeat bottom right
}

.read-more-btn2:after {
    content: "";
    right: -1px;
    top: -20px;
    background: url(../images/corner-curve.png) no-repeat bottom right;
    left: auto
}

.arrow img {
    display: inline-block;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out
}

.arrow:hover img {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px)
}

.grey-gradient {
    background-color: lightgrey;
    background-image: linear-gradient(#fff,#f4f4f4)
}

.left-shadow:after {
    content: "";
    background: url(../images/left-shadow.png) no-repeat bottom left;
    height: 29px;
    width: 200px;
    position: absolute;
    bottom: -29px;
    left: 10px
}

.right-shadow:after {
    content: "";
    background: url(../images/right-shadow.png) no-repeat bottom right;
    height: 29px;
    width: 200px;
    position: absolute;
    bottom: -29px;
    right: 10px
}

.bottom-shadow:before,.bottom-shadow:after {
    content: "";
    height: 16px;
    position: absolute;
    width: 65px;
    bottom: -10px;
    background-size: 100px !important
}

.bottom-shadow:before {
    background: url(../images/left-sm-shadow.png) no-repeat bottom left;
    left: 8px
}

.bottom-shadow:after {
    background: url(../images/right-sm-shadow.png) no-repeat bottom right;
    right: 8px
}

.txt-com {
    font-size: 6rem
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: #E81213;
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000
}

a img.arrow {
    transition: transform .3s ease
}

a.show img.arrow {
    transform: rotateZ(90deg)
}

ul.dropdown-menu li {
    border-top: 1px dashed #ccc
}

ul.dropdown-menu li:first-child {
    border-top: 0
}

.dropdown-item {
    white-space: break-spaces
}

footer dl dt:after {
    content: ":";
    position: absolute;
    right: 0
}

.side-link li a,.hp_btn {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #3c3c3c
}

.side-link li a:hover,.hp_btn:hover {
    color: #fff;
    background: #E81213;
    border-color: #E81213;
    transition: .2s
}

.spl_info {
    font-size: 12px;
    color: #959595;
    line-height: 12px;
    font-style: italic
}

.booking-close-btn {
    background-color: #fff;
    border-radius: 25px;
    top: -26px;
    right: -28px;
    padding: 6px;
    background-size: 10px
}

.text-center h2:after {
    left: 50%;
    margin-left: -50px
}

.offcanvas-body .dropdown-menu {
    float: none;
    margin-right: 20px
}

.offcanvas-body .dropdown-menu>li>a {
    white-space: normal
}

#multistep_form {
    width: 625px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible
}

.multistep-box {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 1px 1px 55px 3px rgba(255,255,255,0.4);
    padding: 30px 30px;
    box-sizing: border-box;
    width: 80%;
    position: absolute
}

.multistep-box:not(:first-of-type) {
    display: none
}

.multistep-box p {
    margin: 0 0 12px 0;
    text-align: left
}

.multistep-box span {
    font-size: 12px;
    color: #E81213
}

input:focus,textarea:focus {
    box-shadow: inset 0 0 50px 2px rgb(0,0,0,0.1)
}

input.box_error,textarea.box_error {
    border-color: #E81213;
    box-shadow: inset 0 0 50px 2px rgb(255,0,0,0.1)
}

input.box_error:focus,textarea.box_error:focus {
    box-shadow: inset 0 0 50px 2px rgb(255,0,0,0.1)
}

p.nxt-prev-button {
    margin: 25px 0 0 0;
    text-align: center
}

.action-button {
    min-width: 100px;
    color: white;
    border: 0 none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0 5px;
    transition: all .5s
}

.action-button:hover,.action-button:focus {
    box-shadow: 0 0 0 2px white,0 0 0 3px #a70000
}

.form_submited #multistep_form {
    opacity: 0;
    visibility: hidden
}

.form_submited h1 {
    -webkit-background-clip: text;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transition: all .3s ease;
    opacity: 1;
    visibility: visible
}

.form-control:focus {
    border-color: #ff002a;
    box-shadow: 0 0 0 .25rem rgb(243 235 236 / 61%)
}

.accordion-button::after {
    background: url(../images/down-arrow.png) no-repeat 0 0
}

.accordion-button:not(.collapsed)::after {
    background: url(../images/down-arrow-hover.png) no-repeat 0 0;
    transform: rotate(359deg)
}

header {
    height: 65px
}

.t-20minus {
    top: -20px
}

.bootstrap-select.open>.dropdown-menu {
    width: 100%
}

.bootstrap-select ul.dropdown-menu li a {
    text-decoration: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block !important
}

.in-patient-enquire-form {
    position: absolute;
    bottom: 30px
}

.in-patient-enquire-form-inner {
    background: #ff002abd
}

.ver-border::after {
    border: 1px solid #ccc
}

.accordion-button:focus {
    box-shadow: none
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #ff002a !important
}

.zoom-img:hover img.zoom {
    transform: scale(1.1)
}

.zoom-img:hover img.est_icon {
    transform: scale(1.3)
}

.zoom-img:hover .border {
    border-color: #E81213 !important
}

.soc_med .icon {
    height: 30px;
    width: 30px;
    background-size: contain;
    display: block
}

.soc_med .icon:hover {
    filter: invert(38%) sepia(79%) saturate(658%) hue-rotate(301deg) brightness(100%) contrast(100%);
    filter: brightness(0) saturate(100%) invert(13%) sepia(87%) saturate(7456%) hue-rotate(4deg) brightness(105%) contrast(115%);
    filter: brightness(0) saturate(100%) invert(97%) sepia(13%) saturate(200%) hue-rotate(237deg) brightness(118%) contrast(100%)
}

.counter {
    font-family: 'Michroma',sans-serif;
    line-height: 25px
}

.hb-hover h3 {
    background: #262626cf
}

.hb-hover {
    opacity: 0;
    transition: all .6s
}

.hb-blk:hover .hb-hover {
    opacity: 1
}

@media(min-width: 991.98px) {
    .contsec {
        right:60%;
        top: 0;
        z-index: 1;
        margin: 0 -50%;
        position: absolute;
        border-radius: 0 0 15px 15px
    }

    .no-rounded-lg {
        border-radius: 0 !important
    }

    #FindDoctor {
        bottom: 65px
    }

    .fnd-a-doc {
        --bs-bg-opacity: .85;
        background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity)) !important
    }

    .fnd-a-doc .form-control {
        border: 0;
        border-radius: 10px;
        font-family: 'Poiret One',cursive;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        background: #f6f6f6
    }

    .b-int-heart-link {
        margin-top: -100px;
        background: #ff0003;
        padding: 20px;
        color: #fff;
        border-bottom-left-radius: var(--bs-border-radius-lg);
        border-bottom-right-radius: var(--bs-border-radius-lg)
    }

    .award_lst>div {
        width: 14.25%
    }

    .sticky-lg-bottom,.sticky-lg-bottom .container-fluid,.sticky-lg-bottom .container-fluid .col-lg-5,.sticky-lg-bottom .container-fluid .col-md-6,.sticky-lg-bottom .container-fluid .col-6,.sticky-lg-bottom .container-fluid .col-lg-2 {
        padding: 0 !important
    }

    .sticky-lg-bottom .container-fluid .row,.sticky-lg-bottom .container-fluid .row a {
        margin: 0 !important;
        border-radius: 0 !important
    }

    .sticky-lg-bottom .container-fluid a {
        height: 65px
    }
}

@media(max-width: 991.98px) {
    img.phone-icon {
        background-color:white;
        background-image: linear-gradient(to bottom left,white,lightgrey);
        height: 25px;
        width: 25px;
        padding: 6px;
        border-radius: 25px;
        left: -12px;
        top: 9px;
        z-index: 20
    }

    .doc_appt_sep {
        left: 0
    }

    .side-link {
        margin-top: 3rem
    }
}

@media(max-width: 767px) {
    header {
        height:45px;
    }

    header+.bg-dark {
        border-radius: 0 0 20px 20px
    }

    #Days {
        margin-top: 40px
    }

    .doc_appt_sep {
        display: none
    }

    .in-patient-container {
        padding: 0;
        max-width: 100%
    }

    .in-patient-container form .col-md-3 {
        padding-bottom: 15px
    }

    .in-patient-enquire-form {
        position: static;
        bottom: 0;
        margin: -50px 0
    }

    .in-patient-enquire-form-inner {
        background: #ff002a;
        border-radius: 25px;
        padding: 35px !important
    }

    .border-end {
        border-bottom: 1px solid #dedddd;
        margin-top: 50px;
        border-right: 0 !important
    }

    .mno-pad {
        padding: 0 !important
    }

    .mno-shadow {
        box-shadow: none !important;
        border-radius: 0 0 20px 20px;
        padding: 0
    }

    .mno-round {
        border-radius: 0 !important
    }

    .contsec {
        margin-top: -15px;
        padding: 10px 15px;
        width: 100%;
        position: relative;
        border-radius: 15px 15px 0 0
    }

    .phone-link,.emergency-link {
        font-size: 12px;
        height: 45px
    }

    .emergency-link {
        border-top-left-radius: var(--bs-border-radius-lg);
        border-bottom-left-radius: var(--bs-border-radius-lg)
    }

    .phone-link {
        border-top-right-radius: var(--bs-border-radius-lg);
        border-bottom-right-radius: var(--bs-border-radius-lg);
        background: #f0f0f0
    }

    .phone-link .fs-4,.emergency-link .fs-4 {
        font-size: 16px !important
    }

    .sticky-lg-bottom .list-unstyled {
        background: #f0f0f0!important
    }

    .book-btn {
        transform: rotate(-90deg) translateX(180px);
        bottom: -250px;
        right: -20px
    }

    .footer-top,.footer-bottom {
        border-radius: 30px 30px 0 0
    }

    .footer-bottom {
        margin-top: -30px
    }

    .carousel-control-next-icon,.carousel-control-prev-icon {
        width: 1rem;
        height: 1rem
    }

    #Search_Dept,#Search_Doc {
        margin-bottom: 15px
    }

    .spl_txt_2 {
        font-size: 14px !important;
        font-weight: bold;
        line-height: 18px
    }

    .side-link {
        margin-top: 2rem
    }

    .hb-hover h3 {
        background: 0;
        color: #212529 !important
    }

    .hb-hover {
        opacity: 1;
        position: static !important;
        background: #fff
    }

    .hb-blk:hover .hb-hover {
        opacity: 1
    }

    .zoom-img .read-more {
        background: #E81213 !important;
        color: #fff !important
    }

    .zoom-img .read-more:after {
        border-bottom: 10px solid #E81213
    }
}

@media(max-width: 576.98px) {
    header {
        height:45px;
    }

    .mob-no-mar {
        margin-top: 0px!important;
    }

    .sm-txt {
        font-size: 9px !important
    }

    .sm-txt2 {
        font-size: 13px !important
    }

    .read-more-btn2 {
        left: 0;
        border-radius: 0;
        text-align: center;
        padding-bottom: 8px !important
    }

    .left-shadow:after {
        bottom: -15px;
        background-size: 145px;
        width: 110px;
        left: 10px
    }

    .sm-txt-center {
        text-align: center
    }

    .page-image {
        width: 100%;
        margin-bottom: 15px
    }

    .side-link {
        margin-top: 1rem
    }

    #connect_doc_days {
        margin: 0 -10px;
        text-align: center
    }

    #connect_doc_days span {
        display: inline-block
    }

    .booking-close-btn {
        top: 20px;
        right: 25px;
        padding: 15px;
        z-index: 9999
    }

    .modal-dialog {
        margin: 0 !important
    }

    .modal-content {
        border-radius: 0;
        padding: 20px
    }

    .anchor_blck p {
        overflow: hidden;
        height: 40px
    }

    .home_page h2 {
        text-align: center
    }

    .home_page h2:after {
        left: 50%;
        margin-left: -50px
    }

    .home_page .read-more-btn {
        text-align: center
    }

    .home_page .btn {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

p,li {
    font-weight: normal
}

.d-block.believers-hospital {
    display: none !important
}

.home-card-item {
    height: 200px
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.page-link,.pagination a,.pagination strong {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 0;
    line-height: 20px;
    margin-left: 4px;
    color: #333
}

.page-link:focus,.pagination strong {
    box-shadow: none;
    background: #ed2324;
    color: #fff
}

.highlight {
    padding: 2px 4px !important;
    color: #fff !important;
    background: #E81213 !important;
    display: inline-block !important;
    border-radius: 0 !important
}

.ch_page_carousel-caption {
    bottom: 52px
}

body#pagefellow-of-global-medical-society div.container>img.page-image {
    display: none
}

@media screen and (max-width: 797px) {
    #careeropenings .can-mob {
        display:none
    }
}

#connect_doc_days>span:hover,#connect_doc_day_slots>span:hover,#connect_doc_days>span.selected,#connect_doc_day_slots>span.selected {
    background: #ff002a !important;
    color: #fff;
    cursor: pointer;
    transition: .5s
}

.firstchild-big li:first-child {
    width: 100%;
}

.firstchild-big li:first-child .img-box1 {
    width: 50%;
    height: auto;
    float: left;
}

.firstchild-big li:first-child .img-box1 .fci {
    margin: 25px;
    overflow: hidden;
}

.firstchild-big li:first-child .hb-hover {
    float: left;
    position: relative !important;
    width: 50% !important;
    opacity: 1;
    padding: 25px;
}

.firstchild-big li:first-child .fct, .firstchild-big li:first-child .fcp {
    display: block!important;
}

.firstchild-big li:first-child .fcp {
    background: #fff;
    color: #333!important;
}

.firstchild-big li:first-child .fcu {
    display: none!important;
}

.firstchild-big li:first-child .read-more {
    position: relative !important;
    padding-left: 18px !important;
    background: transparent !important;
    color: #333!important;
    font-weight: normal;
}

.firstchild-big li:first-child .read-more:after {
    display: none!important;
}

@media(max-width: 480px) {
    .img-box1 {
        height:175px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .img-box1 {
        height:185px;
    }

    .img-box2 {
        height: 108px;
    }

    .firstchild-big li:first-child .img-box1,.firstchild-big li:first-child .hb-hover {
        width: 100%!important;
    }

    .firstchild-big li:first-child .fcp {
        line-height: 20px!important;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .img-box1 {
        height:188px;
    }

    .img-box2 {
        height: 108px;
    }

    .firstchild-big li:first-child .img-box1,.firstchild-big li:first-child .hb-hover {
        width: 100%!important;
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    .img-box1 {
        height:120px;
    }

    .img-box2 {
        height: 155px;
    }
}

@media screen and (min-width: 1200px) and (max-width:1399px) {
    .img-box1 {
        height:145px;
    }

    .img-box2 {
        height: 155px;
    }
}

@media(min-width: 1400px) {
    .img-box1 {
        height:172px;
    }

    .img-box2 {
        height: 188px;
    }
}

#doc_link {
    border-radius: 25px!important;
}

.doc_search_blck {
    position: absolute;
    bottom: 70px;
    z-index: 1025;
    width: 100%;
}

.doc_search_blck form {
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 40px;
}

.bootstrap-select.form-control {
    border-radius: 25px!important;
}

.bootstrap-select.btn-group .dropdown-menu {
    top: 2px;
    border-radius: 30px;
    border: none;
}

.bootstrap-select .bs-searchbox input {
    padding: 0 10px 5px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #ababab;
}

@media(max-width: 800px) {
    .doc_search_blck form, #doc_link {
        border-radius:10px!important;
    }

    .doc_search_blck form {
        background: rgba(0, 0, 0, .1)!important;
    }

    .doc_search_blck {
        position: relative!important;
        bottom: 0px!important;
        margin: 10px 0 20px;
    }

    .doc_search_blck .input-lg {
        height: 40px;
    }

    .doc_search_blck .input-lg button {
        padding-top: 2px;
    }

    .bootstrap-select.form-control {
        border-radius: 8px!important;
    }

    .doc_search_blck #Search_Dept, .doc_search_blck #Search_Doc {
        margin-bottom: 10px;
    }

    #BannerCarousel {
        overflow: hidden;
    }

    .mob-none {
        display: none;
    }

    .firstchild-big li:first-child .mob-none {
        display: block;
    }

    .firstchild-big li:first-child .img-box1,.firstchild-big li:first-child .hb-hover {
        width: 100%!important;
        padding: 0px 0 10px;
    }

    .firstchild-big li:first-child .fcp {
        line-height: 20px!important;
    }

    .firstchild-big li:first-child .img-box1 .fci {
        margin: 0px;
    }

    .mmx {
        margin-left: 25px;
        margin-right: 25px;
    }

    .mmy {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.videobtn {
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 150px;
    height: 150px;
}

.video-btn {
    position: relative;
    display: inline-block;
}

.video {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: transparent;
    color: #fff;
    display: inline-block;
    background: #ff0000;
    z-index: 999;
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.fa-play:before {
    content: "\f04b";
}

.waves {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    z-index: -1;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.thin-font {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.holder {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-size: 15px;
    line-height: 28px;
    margin-right: 40px;
    margin-top: 15px;
}

input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #8686ff;
    border-radius: 20px;
    padding: 4px;
}

.radiomark span {
    display: block;
    height: 15px;
    width: 15px;
    background: #5b6fbd;
    border-radius: 20px;
    opacity: 0;
}

.radiomark-white {
    border: 2px solid #fff;
    height: 27px;
    width: 27px;
}

.radiomark-white span {
    background: #fff;
}

.holder:hover input ~ .checkmark {
    background-color: #5b6fbd;
    transition: .5s;
}

.holder:hover input ~ .radiomark span, .holder input:checked ~ .radiomark span, .holder input:active ~ .radiomark span {
    background-color: #5b6fbd;
    transition: .5s;
    opacity: 1;
}

.holder input:active ~ .checkmark {
    background-color: #5b6fbd;
}

.holder input:checked ~ .checkmark {
    background-color: #5b6fbd;
}

.holder:hover input ~ .radiomark-white span, .holder input:checked ~ .radiomark-white span, .holder input:active ~ .radiomark-white span {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.holder input:checked ~ .checkmark:after {
    display: block;
}

.holder .checkmark:after {
    left: 8px;
    bottom: 6px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.service-request-btn {
    background: #323232;
    transition: .5s;
    color: #fff;
}

.service-request-btn:hover {
    background: #181616;
    color: #fff;
}

.service-request-btn2 {
    background: #ff0000;
    transition: .5s;
    color: #fff;
}

.service-request-btn2:hover {
    background: #cd0000;
    color: #fff;
}

@media (min-width: 800px) and (max-width: 991px) {
    .doc_search_blck {
        position: relative;
        bottom: 0px;
    }
}
