.thumb-desc p {
    margin-bottom: 0px;
}

footer ul.quick-link li a:hover {
    color: #ff3f40!important
}

.nest-page .bor-r {
    border-right: 5px solid #1a4b33;
}

address a {
    background: url(../images/bcmch-sprite.png) no-repeat 10px -90px;
    display: block;
    padding-left: 45px;
    width: 280px
}

address a:hover {
    color: #ed2324
}

.home-banner h2 {
    font-family: Poppins,sans-serif;
    background: rgba(35,35,35,.70)
}

.page-image {
    width: 50%;
    margin-left: 2rem;
    background: #fff;
    float: right
}

.popbox-info {
    display: none;
    position: absolute;
    z-index: 99999;
    padding: 20px 20px 0px;
    background: #fff;
    color: #000000;
    border: 2px solid #fff;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1)
}

.mob-icon {
    background: url(../images/bcmch-sprite.png) no-repeat 2px 0
}

.web-icon {
    background: url(../images/bcmch-sprite.png) no-repeat 2px -1915px!important
}

.whatsapp-icon {
    background: url(../images/bcmch-sprite.png) no-repeat 0px -1834px!important
}

.face-book {
    background: url(../images/social-icon-sprite.png) no-repeat 0px 0px
}

.whatsapp {
    background: url(../images/social-icon-sprite.png) no-repeat 0px -45px
}

.phone-icon {
    background: url(../images/bcmch-sprite.png) no-repeat 0px -875px
}

.icon {
    text-indent: -999em
}

.appointment {
    background: url(../images/bcmch-sprite.png) no-repeat center -204px;
    height: 62px
}

.health-package {
    background: url(../images/bcmch-sprite.png) no-repeat center -388px;
    height: 62px
}

.lt-0 {
    left: 0;
    top: 0
}

.lb-0 {
    left: 0;
    bottom: 0
}

.header-top {
    margin-top: 50px
}

.book-app-blck {
    border-radius: 15px;
    background: rgba(255,255,255,.75);
    z-index: 1;
    display: block;
    left: 0;
    bottom: 70px;
    position: absolute;
    width: 220px
}

.book-app-blck a:hover span.bg-white {
    background: #ed2324!important;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
    color: #fff
}

.book-app-blck a:hover span.appointment {
    background-position: center -272px
}

.book-app-blck a:hover span.health-package {
    background-position: center -448px
}

.display-5 {
    font-size: 2rem
}

.display-6 {
    font-size: 1.5rem
}

.display-7 {
    font-size: 1rem
}

.display-8 {
    font-size: .85rem
}

.l-0 {
    left: 0
}

.b-0 {
    bottom: 0
}

.t-10minus {
    top: -10px
}

.t-15minus {
    top: -15px
}

.slidernav a {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px dashed #d5d7d8;
    padding: 9px 13px;
    margin: 0 5px;
    background-color: #ed2324
}

.slidernav .carousel-control-next,.slidernav .carousel-control-prev {
    opacity: 1;
    padding: 9px
}

.slidernav .carousel-control-next {
    padding: 9px 11px
}

.slidernav .carousel-control-next:hover,.slidernav .carousel-control-prev:hover {
    background-color: #ce0203
}

.left-arrow,.right-arrow {
    background: url(../images/arrow.png) no-repeat 0 -26px;
    width: 12px;
    height: 20px;
    display: inline-block;
    position: relative;
    right: 2px
}

.right-arrow {
    background: url(../images/arrow.png) no-repeat 0 -80px;
    left: 2px;
    right: auto
}

.slidernav a:hover {
    background: #fff;
    border: 1px dashed #ed2324
}

.slidernav a:hover>span.left-arrow {
    background-position: 0 0
}

.slidernav a:hover>span.right-arrow {
    background-position: 0 -52px
}

.hom-doc-sec .carousel-control-next,.hom-doc-sec .carousel-control-prev {
    left: -55px;
    top: 45%;
    bottom: auto;
    opacity: 1
}

.hom-doc-sec .carousel-control-next {
    right: -55px;
    left: auto
}

.half-circle-left,.half-circle-right {
    height: 90px;
    width: 45px;
    background: #f9f9f9;
    display: inline-block;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out
}

.half-circle-left {
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px
}

.half-circle-right {
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px
}

.hom-doc-sec .carousel-control-next:hover .half-circle-right,.hom-doc-sec .carousel-control-prev:hover .half-circle-left {
    background: #ef2226
}

.hom-doc-sec .carousel-control-prev:hover .half-circle-left .left-arrow {
    background-position: 0 -26px
}

.hom-doc-sec .carousel-control-next:hover .half-circle-right .right-arrow {
    background-position: 0 -80px
}

.header-bot {
    z-index: 10
}

.overlay,.overlay .overlay-close {
    z-index: 11
}

.view-profile-blck {
    height: 120px
}

.effect-bubba,.effect-marley {
    position: relative;
    overflow: hidden
}

.effect-marley p {
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
    bottom: 30px;
    line-height: 1.5;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    opacity: 0;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s
}

.effect-marley:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.effect-bubba .box-content::after,.effect-bubba .box-content::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s
}

.effect-bubba a {
    padding: 15px 2em;
    opacity: 0;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: block;
    height: 100%;
    width: 100%
}

.effect-bubba:hover a {
    position: relative
}

.effect-bubba:hover .box-content::after,.effect-bubba:hover .box-content::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    background: rgba(255,1,5,.6)
}

.effect-bubba:hover a {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.cf:after,.cf:before {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.boxes {
    display: block;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden
}

.doc_box {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden
}

.doc_box .box-content {
    top: auto;
    bottom: 0;
    height: 50px
}

.effect-bubba.doc_box a {
    border-top: 1px solid #ed2324
}

.big-box {
    height: 500px
}

.underline::after {
    content: '';
    display: block;
    border-bottom: 2px solid #ee2225;
    width: 50px;
    margin-top: 10px
}

.social-media li {
    margin: 0 10px 0 0
}

.social-media li a {
    display: block;
    background: url(../images/bcmch-sprite.png) no-repeat left -742px;
    width: 28px;
    height: 28px;
    text-indent: -999em
}

.social-media li.instagram a {
    background-position: -38px -742px
}

.social-media li.youtube a {
    background-position: -76px -742px
}

.social-media li.facebook a:hover {
    background-position: left -772px
}

.social-media li.instagram a:hover {
    background-position: -38px -772px
}

.social-media li.youtube a:hover {
    background-position: -76px -772px
}

body,html {
    height: 100%
}

.wrapper {
    min-height: 100%;
    margin-bottom: -75px
}

.footer,.push {
    height: 75px
}

body {
    font-family: Poppins,sans-serif;
    color: #555;
    background-color: #f8f9fa
}

a.hospital-logo {
    text-indent: -999em
}

.ver-align-top {
    vertical-align: top
}

.ver-align-middle {
    vertical-align: middle
}

.back-to-top {
    position: fixed;
    display: none;
    background: #525252 url(../images/bcmch-sprite.png) no-repeat center -1733px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background .5s;
    z-index: 11
}

.back-to-top:hover {
    background: #ed2324 url(../images/bcmch-sprite.png) no-repeat center -1733px;
}

.home-btn {
    background: url(../images/bcmch-sprite.png) no-repeat left -976px;
    display: inline-block;
    text-indent: -999em;
    width: 25px;
    height: 25px;
}

a.nav-link:hover>.home-btn {
    background: url(../images/bcmch-sprite.png) no-repeat left -1066px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 100px;
    height: 100px;
    background: url(../images/logo-animation.gif) no-repeat 0 0
}

.doc-icon {
    background: url(../images/bcmch-sprite.png) no-repeat 0px -1150px;
    height: 25px;
    width: 30px;
}

.mail-icon {
    background: url(../images/bcmch-sprite.png) no-repeat 0px -1492px;
    height: 25px;
    width: 30px;
}

.doc_search_list {
    vertical-align: top
}

.doc_search_list .img-blck {
    display: inline-block;
    padding: 6px;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    transition: border-color .5s ease-in-out
}

.doc_search_list .img-blck-in {
    height: 100%;
    overflow: hidden;
    border-radius: 50%
}

.doc_search_list:hover .img-blck,.home-dept-blck a:hover .border {
    border-color: #ed2324!important;
    transition: border-color .5s ease-in-out
}

.doc_search_list .box-content {
    top: auto;
    bottom: 0;
    height: auto
}

.doc_search_list:hover .box-content a {
    border: 2px solid #fff;
    border-radius: 20px;
    background: #ff0001;
    font-size: 14px;
    text-transform: capitalize
}

.doc_search_list a {
    padding: 0
}

.doc_search_list.effect-bubba:hover .box-content::after,.doc_search_list.effect-bubba:hover .box-content::before {
    background: #f8f9fa
}

input.auto-complete-input {
    width: 500px!important
}

.tt-menu {
    background: #fff;
    overflow-y: scroll;
    width: 100%;
    max-height: 300px
}

.auto-complete-box {
    margin: 0 15px;
    padding: 5px 0
}

.tt-menu>.tt-dataset {
    height: 300px
}

#contactForm .help-block ul {
    margin: 0
}

.form-style input[name=phone1] {
    text-align: center
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.form-style input[type=file] {
    border: none;
    padding: 0
}

.form-style .success {
    background: #d8ffc0;
    padding: 5px 10px 5px 10px;
    margin: 0 0 5px 0;
    border: none;
    font-weight: 700;
    color: #2e6800;
    border-left: 3px solid #2e6800
}

.form-style .error {
    background: #ffe8e8;
    padding: 5px 10px 5px 10px;
    margin: 0 0 5px 0;
    border: none;
    font-weight: 700;
    color: red;
    border-left: 3px solid red
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#head-and-neck-oncosurgery166,#oral-and-maxillofacial-surgery165,#paediatric-and-adult-congenital-heart-services162,#paediatric-and-adult-congenital-heart-services163 {
    display: none!important
}

.list-hover a .bg-white {
    transition: background-color 1000ms;
}

.list-hover a:hover .bg-white {
    background: #ed2324!important;
    transition: background-color 1000ms;
    color: #fff;
}

.mob-none .slidernav {
    top: 50%;
}

.mob-none .slidernav a {
    border: 1px solid #ed2324;
    right: -20px;
}

.mob-none .slidernav a.previous {
    left: -50px;
}

.mob-none .slidernav a:hover {
    border: 1px solid transparent;
}

.home-crsl-spec-items .crsl-item a {
    border-radius: 15px;
    transition: background-color 1000ms;
}

.home-crsl-spec-items .crsl-item a:hover {
    color: #fff;
    background-color: #ed2324;
    transition: background-color 1000ms;
}
